//@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Muli')
//@import url('https://fonts.googleapis.com/css?family=Parisienne')
//@include fontFace('Merriweather','font/Merriweather_Light.ttf')

@font-face
  font-family: Merriweather
  src: url(../font/Merriweather.ttf)

@font-face
  font-family: Parisienne
  src: url(../font/Parisienne-Regular.ttf)

$font-stack: Merriweather, sans-serif
$matttefont: Parisienne, serif
