// html,body,div, h1
span,applet,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
 border: 0px
 margin: 0px
 padding: 0px
 font-size: 100%
 font: inherit
 vertical-align: baseline


article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
 display: block

ol
  list-style: none

ul
  list-style: none
