@font-face {
  font-family: Merriweather;
  src: url(../font/Merriweather.ttf); }
@font-face {
  font-family: Parisienne;
  src: url(../font/Parisienne-Regular.ttf); }
/* line 2, _norm.sass */
span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 11, _norm.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 14, _norm.sass */
ol {
  list-style: none; }

/* line 17, _norm.sass */
ul {
  list-style: none; }

/* line 20, main.sass */
html, body {
  margin: auto 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 20px;
  height: 100%; }

/* line 28, main.sass */
.wrapper {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal; }
  /* line 45, main.sass */
  .wrapper .left {
    background-color: #EBE8E8;
    width: 100px;
    -webkit-box-flex: 0;
    -ms-flex: 0 100px;
    -moz-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0; }
    /* line 55, main.sass */
    .wrapper .left nav {
      font-family: Merriweather, sans-serif; }
      /* line 58, main.sass */
      .wrapper .left nav p {
        padding-left: 20px; }
      /* line 61, main.sass */
      .wrapper .left nav img {
        margin: auto;
        align-self: center;
        max-width: 2em;
        padding-top: 2em;
        padding-left: 30px; }
      /* line 68, main.sass */
      .wrapper .left nav #contact, .wrapper .left nav #work {
        padding-top: 9em; }
  /* line 71, main.sass */
  .wrapper .right {
    font: Merriweather, sans-serif;
    background-color: #615C5C;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1; }
    /* line 81, main.sass */
    .wrapper .right section {
      padding-top: 5em;
      padding-left: 2em;
      color: #E30075;
      text-decoration: none; }
      /* line 87, main.sass */
      .wrapper .right section h1 {
        padding-bottom: 1em;
        max-width: 20em;
        font-family: Parisienne, serif;
        font-size: 50px;
        justify-content: center; }
      @media screen and (max-width: 780px) {
        /* line 81, main.sass */
        .wrapper .right section {
          max-width: 10em; } }

@media screen and (max-width: 2000px) {
  /* line 3, _media.sass */
  .hidden {
    display: none !important; } }
@media screen and (max-width: 400px) {
  /* line 8, _media.sass */
  h1 {
    font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
