@import 'font'
@import 'norm'

//@import 'Merriweather'
//@import  url("https://fonts.googleapis.com/css?family=Montserrat:400,700")


// http://www.colourlovers.com/palette/1425910/Electric_Sunshine

$grey: #615C5C
$pink: #E30075
$orange: #FF4A4A
$yellow: #FFB319
$light: #EBE8E8




// https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox
html, body
  margin: auto 0
  padding: 0
  overflow-x: hidden
  font-size: 20px
  height: 100%


.wrapper
  // Flexbox | center: https://jsfiddle.net/MadLittleMods/LmYay/
  // https://codepen.io/berkin/pen/vFCwn?editors=1100#0
  height: 100%
  display: -ms-flexbox
  display: -webkit-box
  display: -moz-box
  display: -ms-box
  display: box

  -ms-flex-direction: row
  -webkit-box-orient: horizontal
  -moz-box-orient: horizontal
  -ms-box-orient: horizontal
  box-orient: horizontal


  .left
    //height: 30em
    background-color: #EBE8E8
    width: 100px
    -webkit-box-flex:  0
    -ms-flex: 0 100px
    -moz-box-flex:  0
    -ms-box-flex:  0
    box-flex:  0

    nav
      font-family: $font-stack

      p
        padding-left: 20px

      img
        margin: auto
        align-self: center
        max-width: 2em
        padding-top: 2em
        padding-left: 30px

      #contact, #work
        padding-top: 9em

  .right
    font: $font-stack
    background-color: #615C5C
    -ms-flex: 1
    -webkit-box-flex: 1
    -moz-box-flex: 1
    -ms-box-flex: 1
    box-flex: 1


    section
      padding-top: 5em
      padding-left: 2em
      color: $pink
      text-decoration: none

      h1
        padding-bottom: 1em
        max-width: 20em
        font-family: $matttefont
        font-size: 50px
        justify-content: center

      @media screen and (max-width: 780px)
            max-width: 10em


// h1
//   font-family: 100% $matttefont


@import 'media'
